[Unit]
Description=tcollector daemon
After=network.target

[Service]
Type=forking
ExecStart=tcollector-wrapper start
ExecStop=tcollector-wrapper stop
ExecReload=tcollector-wrapper restart

[Install]
WantedBy=multi-user.target
